<div class="container mt-5">
    <h2 class="mb-4">Update Your Details First</h2>
    <form [formGroup]="studentUpdateForm">

      <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" name="email" placeholder="Enter your email"  formControlName="email">
        <div class="text-danger">
          @if(studentUpdateForm.controls['email'].touched && studentUpdateForm.controls['email'].errors?.['required']){
            <span>This is required </span>
          }
          @else if(studentUpdateForm.controls['email'].touched && studentUpdateForm.controls['email'].errors?.['email']){
            <span>Email format not valid </span>
          }
        </div>
       </div>

      <div class="form-group">
        <label for="username">username:</label>
        <input type="text" class="form-control" name="username" placeholder="Enter your username" formControlName="username" >
        <div class="text-danger">
          @if(studentUpdateForm.controls['username'].touched && studentUpdateForm.controls['username'].errors?.['required']){
            <span>This is required </span>
          }
        </div>
        </div>
        <div class="form-group">
          <label for="name">name:</label>
          <input type="text" class="form-control" name="username" placeholder="Enter your Full Name" formControlName="name" >
          <div class="text-danger">
            @if(studentUpdateForm.controls['name'].touched && studentUpdateForm.controls['name'].errors?.['required']){
              <span>This is required </span>
            }
          </div>
          </div>
     
        <div class="form-group">
            <label for="password">password:</label>
            <input type="password" class="form-control" name="password" placeholder="Enter your password" formControlName="password" >
            <div class="text-danger">
              @if(studentUpdateForm.controls['password'].touched && studentUpdateForm.controls['password'].errors?.['required']){
                <span>This is required </span>
              }
              @else if(studentUpdateForm.controls['password'].touched && studentUpdateForm.controls['password'].errors?.['minlength'])
              {
                <span>Minimum password length should be of 8 characters </span>
              }
            </div>
        </div>
            <div class="form-group">
                <label for="password">Conform Password:</label>
                <input type="password" class="form-control" name="conform Password" placeholder="Conform your password" formControlName="cPassword" >
                <div class="text-danger">
                  @if(studentUpdateForm.controls['cPassword'].touched && studentUpdateForm.errors?.['mismatch']){
                    <span>Password Mismatch </span>
                  }
                  @else if(studentUpdateForm.controls['cPassword'].touched && studentUpdateForm.controls['cPassword'].errors?.['required']){
                    <span>This is required </span>
                  }
                  
                </div>
             </div>
          
            
      <div class="form-group">
        <label for="contactDetails">contactDetails:</label>
        <input type="text" class="form-control" name="contactDetails" placeholder="Enter your password" formControlName="contactDetails" >
        <div class="text-danger">
          @if(studentUpdateForm.controls['contactDetails'].touched && studentUpdateForm.controls['contactDetails'].errors?.['required']){
            <span>This is required </span>
          }
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="studentUpdateForm.controls['contactDetails'].errors?.['required']" (click)="update()">Submit</button>
    </form>
  </div>
  



