<div class="container mt-5">
    <h2 class="mb-4">Simple Form</h2>
    <form #studentForm="ngForm">
      <div class="form-group" >
        <label for="name">Name:</label>
        <input type="text" name="studentObj.name" [(ngModel)]="studentObj.name" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="studentObj.email" [(ngModel)]="studentObj.email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="studentObj.password" [(ngModel)]="studentObj.password" class="form-control" id="pwd" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onClick()">Submit</button>
    </form>
    
  </div>
  <div>formValue={{formValue |json}}</div>
