/* landing-page.component.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.login-container {
    position: relative;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.login-container:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.library-image {
    width: 100%;
    max-width: 400px; /* Set a max width for the image */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 20px;
}

.description {
    max-width: 600px;
    margin: 20px;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .description {
        margin-left: 20px;
        max-width: 50%;
    }

    .library-image {
        max-width: 50%; /* Adjust the width for larger screens */
        height: auto;
    }
}
